#box
{

    background-color:blue;
    color: rgb(255, 255, 255);
    

}
.Heading
{
    color: red;
}
.button
{
    background-color: green;
    color: white;
}

#bluebutton
{
  background-color:blue;
  color:white;
}